<h4> Add Photo </h4>

<%= bootstrap_form_for [@space, @photo], :html => { :multipart => true } do |f| %>
  <%= f.file_field :image, class: 'btn btn-sm' %>
  <%= f.submit 'Add Photo', class: 'btn btn-sm btn-success' %>
<% end %>

<% @post.photos.each do |photo|%>
  <%= image_tag photo.image.url(:thumb) %>
  <%= link_to 'Delete', post_photo_path(@post,photo), method: :delete%>
<% end %>

<%= link_to 'Done', post_photo(@post), class: 'btn btn-info' %>
