<h4> <%= @post.title %> </h4>
  <%= link_to 'Edit', edit_post_path(@post), id: 'edit_post', remote: true %>
  <%= link_to post_path(@post), :data => {:method => 'delete'} do %>Delete<% end %>

  <% @post.photos.each do |photo| %>
    <%= image_tag photo.image.url , class:'img-responsive img-list' %>
  <% end %>

  <p>
    <%= @post.content %>
  </p>

  <%= link_to 'Add Photos', new_post_photo_path(@post), class: 'btn btn-primary' %>

  <%= link_to 'Add Comment', new_post_comment_path(@post), id: 'new_comment', remote: true %>
  <br>
  <h5> Comments </h5>

  <%= render @post.comments %>
