<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class='navbar'>
        <p><%= link_to 'Home', root_path %></p>
        <p><%= link_to 'Register', new_user_path %></p>
        <p><%= link_to 'Login', log_in_path %></p>
        <p><%= link_to 'Logout', log_out_path %></p>
      </div>
      <div class="col-md-12 center">
        <h4>Blog Thing</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center">
        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
</body>
</html>
